@import "materialize";
@import "clearfix";

html {
  font-size: 101%;
  hyphens: auto;

  main {
    font-size: 110%;
  }
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-top: 0.8em;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

h4 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
}

hr {
  height: 0;
}

article {
  font-family: serif;
}

article header {
  padding: 1rem 0;
}

blockquote {
  footer {
    display: block;
    font-size: 0.9em;
    margin-top: 0.6em;
    text-align: end;
  }
}

ul.inline {
  li {
    display: inline-block;
  }
}

aside,
section {
  padding: 1rem 0;
}

:target,
mark {
  background-color: $highlight-lighten-4;
  padding: 0.2em 0;
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
}

::selection {
  background: $highlight-darken-3;
  color: #FFF;
}

a {
  color: $primary-color;

  img {
    border: none;
  }

  &:visited {
    color: $highlight-darken-4;
  }

  &:hover {
    color: $highlight-darken-3;
    text-decoration: underline;
  }

  &:active {
    color: $highlight-darken-3;
  }
}

a[rel~="external"]::after {
  content: "open_in_new";
  display: inline-block;
  font-family: "Material Icons";
  font-size: 80%;
  font-style: normal;
  font-weight: normal;
  padding-left: 3px;
  text-decoration: none;
}

abbr {
  letter-spacing: 0.05em;
}

details {
  > summary {
    cursor: pointer;
    outline: none;
    border-bottom: none;
    margin-bottom: 1em;
  }
}

.rtl {
  a[rel~="external"]::after {
    padding-left: auto;
    padding-right: 3px;
  }

  blockquote {
    margin: 20px 0;
    padding-left: auto;
    padding-right: 1.5rem;
    border-left: none;
    border-right: 5px solid #33691e;
  }

  ul:not(.browser-default) {
    padding-right: 0 !important;
    list-style-type: none;
  }
}

.container {
  @include clearfix;
}

.page-intro {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 0.5em;
  text-align: center;
}

.button-section {
  padding: 2rem 0;
  text-align: center;

  h2 {
    text-align: center;
    font-weight: 300;
    margin-top: 0.2rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.note {
  font-style: italic;
}

.footnotes {
  border-top: 1px solid $shade-lighten-4;
  font-size: 85%;
  margin-top: 3em;
}

.language-menu {
  min-width: 200px;

  li {
    a {
      color: black !important;
    }
  }
}

.pad3 {
  padding: 2% 3% !important;
}

.float-right {
  clear: right;
  float: right;
  margin: 0 0 2em 2em !important;
}

.float-left {
  clear: left;
  float: left;
  margin: 0 2em 2em 0 !important;
}

.conclusion {
  background: none repeat scroll 0 0 $highlight-lighten-4;
  border-top: 2px dashed $highlight-lighten-2;
  border-bottom: 2px dashed $highlight-lighten-2;
  margin: 2em 0;
  padding-top: (2em * 0.5);
  padding-bottom: (2em * 0.5);
}

.w20 {
  height: auto;
  width: 20%;
}

.w30 {
  height: auto;
  width: 30%;
}

.logos {
  margin: 2em auto;

  img {
    display: inline-block;
    width: auto;
    margin: 10px;
  }

  &--small {
    img {
      height: 64px;
    }
  }

  &--large {
    img {
      height: 96px;
    }
  }
}

img.lift-effect {
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover {
    transform: translateY(-5px);
  }
}

section.ubuntu {
  border-top: medium solid #DD4814;
}

section.fedora {
  border-top: medium solid #08517A;
}

section.debian {
  border-top: medium solid #C70036;
}

.distro-logo {
  padding: 2rem;
  max-width: 300px;
}

.card-distribution {
  min-width: 200px;

  &-logo {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;

    &--debian {
      background-image: url("../images/DebianLogoStacked.svg");
    }

    &--ubuntu {
      background-image: url("../images/UbuntuLogoStacked.svg");
    }

    &--fedora {
      background-image: url("../images/FedoraLogoStacked.png");
    }
  }
}

.card-panel {
  &--quote {
    width: 85%;
    margin: 1em auto;

    blockquote {
      border: none;
      padding: 0;
      margin: 0;

      p {
        font-style: italic;
      }
    }
  }

  &--small {
    margin: 0;
    width: 35%;
  }

  &--image {
    width: auto;
  }

  &--further-reading {
    h3 {
      font-size: 1.7rem;
      border: medium none;
      margin: 0 0 0.5em;
      padding: 0;
    }

    h4 {
      border: none;
      font-size: 1.2rem;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.page-footer {
  font-size: 98%;

  a {
    color: $highlight-lighten-3;

    &:hover,
    &:active {
      color: white !important;
      text-decoration: none;
    }

    &:visited {
      color: $highlight-lighten-3;
    }
  }
}

.flexslider {
  border: none !important;
  position: relative;

  /* Hide the navigation bullets */
  .flex-control-nav {
    display: none;
  }

  /* Navigation icons bug workaround */
  .flex-direction-nav a  {
    line-height: 40px;
  }
}

.flex-row {
  display: flex;
  flex-flow: row wrap;

  > .flex-col {
    display: flex;
    flex-direction: column;
    margin: 0 0.75rem;

    &--w350 {
      flex: 350px;
    }
  }
}

.card {
  &.purple {
    &.gradient {
      .card-content {
        a:not(.btn, .btn-large, .btn-floating) {
          color: $card-link-color;

          &:hover {
            color: $card-link-color-light;
          }
        }
      }
    }
  }
}

.no-italics {
  em,
  blockquote p,
  h4 {
    font-style: normal !important;
  }
}

html.night {
  color-scheme: dark;

  html,
  body,
  input,
  textarea,
  select,
  button {
    color: #e8e6e3;
  }

  body {
    background-color: #181a1b;
  }

  a {
    color: rgb(164 223 142);

    &:visited {
      color: rgb(164 223 142);
    }

    &:active,
    &:hover {
      color: rgb(157 209 120);
    }
  }

  blockquote {
    border-left-color: rgb(81 167 48);
  }

  :target,
  mark {
    background-color: rgb(55 71 23);
    color: rgb(232 230 227);
  }

  ::selection {
    background: $highlight-darken-4;
    color: #FFF;
  }

  .sidenav {
    background-color: rgb(41 84 24);

    li > a {
      color: rgb(232 230 227);
    }
  }

  .dropdown-content {
    background-color: rgb(24 26 27);

    li.active,
    li:hover {
      background-color: rgb(34 36 38);
    }
  }

  .language-menu li a {
    color: rgb(232 230 227) !important;
  }

  .divider {
    background-color: rgb(42 45 47);
  }

  .btn-outlined {
    border-color: rgb(140 130 115 / 23%) !important;
    color: rgb(232 230 227 / 87%) !important;
  }

  .waves-effect {
    &.waves-light .waves-ripple {
      background-color: rgb(0 0 0 / 45%);
    }
  }

  .conclusion {
    background-color: rgb(55 71 23);
    border-top-color: rgb(79 114 38);
    border-bottom-color: rgb(79 114 38);
  }

  .card,
  .card-panel {
    background-color: rgb(70 70 70);
  }

  .card {
    &.purple {
      &.gradient {
        background: linear-gradient(135deg, rgb(57 11 39) 0%, rgb(158 54 41) 100%) !important;
      }
    }
  }

  .light-green {
    &.darken-4 {
      background-color: rgb(41 84 24) !important;
    }
  }

  .brown {
    &.darken-1 {
      background-color: rgb(87 61 52) !important;
    }

    &.lighten-5 {
      background-color: rgb(43 35 31) !important;
    }
  }

  .amber {
    &.lighten-4 {
      background-color: rgb(97 72 0) !important;
    }
  }

  .btn-floating:hover,
  .btn-large:hover,
  .btn-small:hover,
  .btn:hover {
    background-color: rgb(49 100 29) !important;
  }

  .page-footer {
    color: rgb(232 230 227);
    background-color: rgb(41 84 24);

    a,
    a:visited {
      color: rgb(190 221 154);
    }

    a:active,
    a:hover {
      color: rgb(232 230 227) !important;
      text-decoration-color: currentcolor;
    }
  }

  .flex-direction-nav {
    a,
    a::before {
      color: rgb(255 255 255 / 80%);
      text-shadow: 1px 1px 0 hsl(0deg 0% 0% / 30%);
    }
  }

  nav {
    color: rgb(232 230 227);
    background-color: rgb(41 84 24);

    ul a:hover {
      background-color: rgb(0 0 0 / 10%);
    }
  }
}
